{% extends '_layout1.html' %}
<!-- herda tudo que já tem em _layout1.html -->
{% block content %}
<!-- substitui o bloco content em _layout1.html -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Excluindo o Post Nº {{ object.id }}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p>Você tem certeza que deseja excluir?</p>
            <p>"{{ object.body_text }}"</p>
            <button type="submit" class="btn btn-danger">Confirmar</button>
            <a href="{% url 'posts_list' %}" class="link-secondary">Cancelar </a>
        </form>
    </div>
</div>
{% endblock %}
<!-- fecha o bloco content -->